@import "tailwindcss";

@theme {
  --color-primary: #0ea5e9;
  --color-secondary: #14b8a6;
  --color-background-primary: #ffffff;
  --color-background-secondary: #f8fafc;
  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;
  --color-border: #e2e8f0;
  
  --font-sans: 'Inter', sans-serif;
  
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  
  --shadow-level1: 0px 1px 3px rgba(0,0,0,0.05);
  --shadow-level2: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

body {
  background-color: var(--color-background-secondary);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
}
